* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration:none;
  list-style:none;
  color:#ffffff;
  font-family:"Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}
img {
  vertical-align:bottom;
  width:100%;
}
body {
  background:#000000;
}

header ul{
  align-items: center;
}

header li{
  width: 33%;
  text-align:center;
  line-height: 90%;
}